body{
    @media(max-width:893px){
        nav{width: 100%;
            ul{justify-content:center;
                li{font-size: 19px;}
        }
            
            }
        header{width: 100%;
                .logoauto8{width: 100%;}}
        main{width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            .videos{width: 100%;}
            .tarjetas{display: flex;
                        justify-content: center;
                        flex-wrap: wrap;}
                .registro{width: 100%;
                            padding: 0px;
                            margin: 0px;
                            .contenido{width: 100%;}}
                .contacto{width: 100%;
                    .mapa{width: 100%;
                            margin: 0px;}}
                .videoregistro{width: 100%;
                        padding: 10px;
                        margin: 10px;
                        .video{align-items: center;
                            justify-content: center;}}
                .logo8{width: 100%;
                        margin: 0px;
                        padding: 0px;
                    .imglogo{padding: 1px;}}
            }
            
        aside{width: 100%;
                display:flex;
                flex-direction: column;
                .galeria{width: 100%;
                        display: grid;
                        justify-content: center;}}
        footer{width: 100%;
                margin: 1px;
                padding: 1px;
                .fin{width: 100%;
                    button{margin: 4px;
                        padding: 4px;
                        font-size: 20px;}}
                .qr{width: 100%;}
                .fin1{width: 100%;
                        button{width: 100%;
                                font-size: 15px;}}
                
                }}
    }



    @media (max-width:603px){
        nav{ width: 100%;
                .fa-bars{display: block;
                        color: rgba(255, 0, 0, 0.459);
                        font-size: 37px;
                        background-color:rgb(0, 0, 0);
                    &:hover + ul {
                        left: 0;
                    }}
                ul{ flex-direction: column;
                    position: fixed;
                    background-color: rgb(1, 1, 1);
                    width: 260px;
                    align-items: center;
                    padding-top: 30px;
                    justify-content: start;
                    height: 100vh;
                    transition: 0.2s;
                    left:-300px;
                    top: 1;
                img{margin: 5px;
                            }
                li{background-color: transparent;
                a{background-color: transparent;}}
                        &:hover{
                            left: 0;
                        }}
            }
        header{width: 100%;
                display: flex;
                flex-direction: column;
                fieldset{border-color:black;}
                .logoauto8{width: 100%;
                            }}
        main{width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .videos{width: 100%;
                    margin: 1px;
                    padding: 1px;
                    .video1{width: 100%;}}
            .registro{width: 100%;
                .contenido{width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                h3{text-align: center;}
                .centro{width: 100%;
                    }
            }
                }
            .contacto{width: 100%;}
            .tarjetas{display: flex;
                        flex-wrap: wrap;}
            .logo8{width: 100%;
                    .imglogo{margin: 1px;
                            padding: 1px;}}
            iframe{width: 100%;
                    margin:0px;}
            }
        aside{width: 100%;
            width: 100%;
            .galeria{display:grid;
                grid-template-columns: repeat(2,6fr);}}
        footer{width: 100%;
                display:grid;
                grid-template-columns: repeat(3,1fr);
                
                .fin{width: 100%;
                   
                    button{border-color: rgb(15, 58, 17);
                            width: 100%;
                            font-size: 20px;
                            padding: 3px;
                            margin: 3px;}
                }
                .qr{width: 100%;
                    grid-column: 3/4;
                    grid-row: 2/3;
                    text-align: center;
                    justify-content: center;
                    }
                }
        

            }
                     