main{width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
        h1{grid-column: 1/5;
            grid-row: 1/2;
            color: rgb(129, 31, 31);
            font-weight:bolder;
            font-size: 30px;
            margin: 10px;
            text-align: center;
            margin: 15px;
            padding: 15px;}
        .videos{display: grid;
                padding: 10px;
                margin: 10px;
                grid-column:1/5;
                grid-row:4/5 ;
                justify-items: center;
                align-items: center;
                .video1{width: 80%;
                        height: 500px;
                        }
                    }
        .tarjetas{height: 100%;
                    grid-column: 1/5;
                    grid-row: 2/3;
                    display: flex;
                    
                    .tarjeta1 {width: 100%;
                        background-color: rgba(255, 255, 255, 0.137);
                        border: solid 1px;
                        padding: 10px;
                        margin: 10px;
                        text-align: center;
                        border-radius: 20px;
                        &:hover{-webkit-box-shadow: 11px 13px 37px 3px rgba(245, 0, 0, 0.219);}
                        .im1{width: 100%;}
                        .im2{width: 100%;}
                        .im3{width: 90%;}
                        .im5{width: 100%;}
                        .im4{width: 100%;}
                        .im9{width: 90%;}
                        h4{font-size: 30px;
                            background-color: transparent;
                            color: rgb(243, 194, 134);
                            a{background-color: transparent;
                                color: rgb(243, 194, 134)}}
                        p{color:rgba(161, 182, 71, 0.671);
                        padding: 5px;}
                        ul{background-color: transparent;
                            li{list-style: none;
                                margin:3px;
                                background-color: transparent;
                                color: rgba(161, 182, 71, 0.671);}
                            }}}
        h2{color: rgb(110, 110, 110);
            font-size: 18px;
            margin: 10px;}
        .directo{grid-column: 1/5;
                grid-row: 4/5;
                .logoauto{display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    height: 20%;
                    }
                img{
                    width: 50px;
                    height:50px;
                    padding: 2px;
                    margin: 2px;}}
        .directo2{grid-column: 1/5;
                grid-row: 3/4;
            .logoauto{display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                height: 20%;}
            img{
                width: 50px;
                height:50px;
                padding: 2px;
                margin: 2px;}}
        h3{grid-column: 1/5;
            color: rgb(182, 55, 23);
            margin: 5px;}
    .videoregistro{grid-column: 1/3;
                    grid-row: 1/2;
                    padding: 10px;
                    margin: 10px;
                    .video{width: 100%;}}
    .contacto{grid-column: 1/3;
                grid-row: 2/5;
                align-items: center;
                justify-content: center;
                p{color: rgb(11, 119, 119);
                    padding: 5px;
                    margin: 5px;
                    }
                .mapa{width: 100%;}}
    .registro{width: 100%;
                grid-column: 3/5;
                grid-row: 1/5;
                padding: 1px;
                margin:1px; 
                justify-content: center;
                align-items: center;
                fieldset{width: 100%;
                    justify-content: center;
                    align-items: center;
                    color: rgb(253, 253, 253);
                    font-family:texto2;
                    background-color: rgb(0, 0, 0);
                label{margin: 5px;}
                textarea{margin: 5px;}
                .boton1{color: rgba(189, 33, 33, 0.5);
                    border: 1px solid;
                    padding: 10px;
                    margin: 15px;
                    background-color: rgba(53, 10, 10, 0.377);
                    border-radius: 80px;}
                            
                                    #fechaactual i { cursor: pointer ; }
                                    #fechaactual i:hover { color: rgb(219, 30, 30); text-decoration: underline; }
                                    /*formulario de busqueda de fechas*/
                                    #buscafecha { background-color: rgb(13, 61, 61); color: #c2c2c2; padding: 5px }
                                    #buscafecha select, #buscafecha input  { background-color: #9bf5ff; 
                                                color: #cf1818d2; font: bold 10pt arial;  }
                                    #buscafecha [type=text]  { text-align: center; }
                                    #buscafecha  [type=button] { cursor: pointer; }
                                    /*cabecera del calendario*/ 
                                    #anterior { float: left; width: 100px; font: bold 12pt arial;
                                              padding: 0.5em 0.1em; cursor: pointer ; }
                                    #posterior { float: right; width: 100px; font: bold 12pt arial; 
                                              padding: 0.5em 0.1em; cursor: pointer ;}
                                    #anterior:hover {color: rgb(255, 255, 255);text-decoration: underline;}
                                    #posterior:hover {color: blue; text-decoration: underline;}
                                    #titulos { font: normal 20pt "arial black"; padding: 0.2em; }
                }}
    
    .logoauto8{width: 100%;
                display: flex;
                justify-content: center;
                background-color: #000000;
                margin: 0px;
                img{
                    width: 50px;
                    height:50px;
                    padding: 2px;
                    margin: 2px;}}
    .logo8{grid-column: 1/5;
            grid-row: 3/4;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            margin: 0px;
            img{
                width: 50px;
                height:50px;
              }}

    
    
}