*{margin: 0; padding: 0; box-sizing: border-box;}
@import"aside";                           
@import"nav";
@import"header";
@import"main";
@import"footer";
@import"adaptar";

body{background-color: #000000;}  
.loading {
        width: 100%;
        height: 3.8px;
        display: inline-block;
        position: relative;
        background: rgba(66, 10, 10, 0.486);
        margin: 1px;
        overflow: hidden;
        &::after {
                content: '';  
                box-sizing: border-box;
                width: 0;
                height: 3.8px;
                background: rgba(153, 27, 27, 0.856);
                position: absolute;
                top: 0;
                left: 0;
                animation: animFw 2s linear;}

                .fa-duotone{color: #d1ff03;
                            }}
                          @keyframes animFw {
                            0% {
                              width: 0;
                            }
                            100% {
                              width:100%;
                            }
                          }
                @font-face {
                        font-family:texto1 ;
                        src: url(../textos1/RubikDistressed-Regular.ttf);}
                            
                @font-face {
                        font-family:texto2;
                        src: url(../textos2/Orbitron-VariableFont_wght.ttf);}
    
    
    
    
   
    